* {
    margin: 0;
    padding: 0;
}

.caixa {
    padding: 25px;
}

.logo {
    width: 130px; /* largura */
}

.link-voce {
    color:  #ff0000;  /* troca a cor do texto */
    margin-left: 30px;  /* margem do lado esquerdo */
    font-size: 20px; /* tamanho da fonte */
    font-weight: 700; /* grossura da fonte */
    cursor: pointer;
}

.link-voce:hover {
    text-decoration: underline;
}


.link-empresa {
    color:  #000000;
    margin-left: 30px;  /* margem do lado esquerdo */
    font-size: 20px; /* tamanho da fonte */
    cursor: pointer; /* troca o cursor do mouse */
}

.link-empresa:hover {
    text-decoration: underline;
}

.background {
    width: 100%;
}

h3 {
    text-align: center;
    margin-top: 60px;  /* margem em cima */
    font-size: 40px;
   
}

ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    padding: 0px 0px 50px 0px;
}

li {
    height: 150px;  /* altura do elemento */
    width: 190px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 30px;
    display: inline-block;
}
li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
li:hover{
    background-color:red;
    border:2px solid rgb(206, 20, 20);
    transition:0.5s; 
 }
.imagem-produtos {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

@media screen and (max-width:712px ){

    .caixa {
        padding:10px;
    }
    .logo {
        width:101px; /* largura */
    }
    
    .link-voce {
        color:  #ff0000;  /* troca a cor do texto */
        margin-left:20px;  /* margem do lado esquerdo */
        font-size:20px; /* tamanho da fonte */
        font-weight:100; /* grossura da fonte */
        cursor: pointer;
    }
    .link-voce:hover {
        text-decoration: underline;
    }
    
    .link-empresa {
        color:  #000000;
        margin-left:20px;  /* margem do lado esquerdo */
        font-size:20px; /* tamanho da fonte */
        cursor: pointer; /* troca o cursor do mouse */
    }
    
    .link-empresa:hover {
        text-decoration: underline;
    }
    
    .background {
        width:120%;
    }
    h3 {
        margin-right:3px;
       margin-top: 60px;  /* margem em cima */
        font-size: 40px;
    }    
}

